Repository bellshade/OpenSeriesWeb: changes, and which Mergify rules are due for each by the changed paths.
All: tsx label, mdx label

tsx label:
  label:
    add:
    - OpenSeries typescript

mdx label:
  label:
    add:
    - documentation mdx

add: menambahkan dokumentasi integral (#41)
  app/docs/matematika/integral/page.mdx
  app/docs/matematika/turunan/page.mdx
  constants/documentations.ts
Due: mdx label

fix: minor navbar on darkmode (#42)
  app/docs/page.mdx
  components/Navbar.tsx
Due: tsx label, mdx label

fix: prerendering page error
  app/docs/matematika/integral/page.mdx
  app/docs/matematika/turunan/page.mdx
Due: mdx label

fix: prerendering page error (#45)
  app/docs/matematika/integral/page.mdx
  app/docs/matematika/turunan/page.mdx
Due: mdx label

fix: mdx percepatan
  app/docs/fisika/percepatan/page.mdx
Due: mdx label

fix: efek doppler page pre render
  app/docs/fisika/efek-doppler/page.mdx
Due: mdx label

fix: Memperbaharui beberapa fitur-fitur Web (#43)
  app/docs/fisika/efek-doppler/page.mdx
  app/docs/fisika/gaya-sentripetal/page.mdx
  app/docs/fisika/massa-jenis/page.mdx
  app/docs/fisika/percepatan/page.mdx
  app/docs/fisika/tekanan-barometrik/page.mdx
  constants/documentations.ts
Due: mdx label

fix: hyperlink sumber kode OpenSeries
  app/docs/matematika/faktor-prima/page.mdx
Due: mdx label

fix: source code hyperlink faktorial
  app/docs/matematika/faktorial/page.mdx
Due: mdx label

fix: source code hyperlink
  app/docs/matematika/peluang-kejadian/page.mdx
Due: mdx label

docs: menambahkan dokumentasi matematika (#44)
  app/docs/matematika/faktor-prima/page.mdx
  app/docs/matematika/faktorial/page.mdx
  app/docs/matematika/peluang-kejadian/page.mdx
  constants/documentations.ts
Due: mdx label

docs: menambahkan dokumentasi sisa
  app/docs/bilangan/bilangan-armstrong/page.mdx
  app/docs/bilangan/bilangan-automorphic/page.mdx
  app/docs/bilangan/bilangan-pronic/page.mdx
  app/docs/bilangan/bilangan-segitiga/page.mdx
  app/docs/matematika/distribusi-binomial/page.mdx
  app/docs/matematika/faktor-prima/page.mdx
  app/docs/matematika/integral/page.mdx
  app/docs/matematika/peluang-kejadian/page.mdx
  app/docs/matematika/turunan/page.mdx
  constants/documentations.ts
Due: mdx label

docs: menambahkan dokumentasi sisa (#46)
  app/docs/bilangan/bilangan-armstrong/page.mdx
  app/docs/bilangan/bilangan-automorphic/page.mdx
  app/docs/bilangan/bilangan-pronic/page.mdx
  app/docs/bilangan/bilangan-segitiga/page.mdx
  app/docs/matematika/distribusi-binomial/page.mdx
  app/docs/matematika/faktor-prima/page.mdx
  app/docs/matematika/integral/page.mdx
  app/docs/matematika/peluang-kejadian/page.mdx
  app/docs/matematika/turunan/page.mdx
  constants/documentations.ts
Due: mdx label

fix: codeblock code & playseries links
  app/docs/bilangan/bilangan-armstrong/page.mdx
  app/docs/bilangan/bilangan-automorphic/page.mdx
  app/docs/bilangan/bilangan-pronic/page.mdx
  app/docs/bilangan/bilangan-segitiga/page.mdx
  app/docs/fisika/efek-doppler/page.mdx
  app/docs/fisika/gaya-sentripetal/page.mdx
  app/docs/fisika/percepatan/page.mdx
  app/docs/fisika/tekanan-barometrik/page.mdx
  app/docs/matematika/distribusi-binomial/page.mdx
  app/docs/matematika/faktor-prima/page.mdx
  app/docs/matematika/faktorial/page.mdx
  app/docs/matematika/fpb/page.mdx
  app/docs/matematika/integral/page.mdx
  app/docs/matematika/peluang-kejadian/page.mdx
  app/docs/matematika/sigmoid/page.mdx
  app/docs/matematika/turunan/page.mdx
Due: mdx label

fix: codeblock code & playseries links (#51)
  app/docs/bilangan/bilangan-armstrong/page.mdx
  app/docs/bilangan/bilangan-automorphic/page.mdx
  app/docs/bilangan/bilangan-pronic/page.mdx
  app/docs/bilangan/bilangan-segitiga/page.mdx
  app/docs/fisika/efek-doppler/page.mdx
  app/docs/fisika/gaya-sentripetal/page.mdx
  app/docs/fisika/percepatan/page.mdx
  app/docs/fisika/tekanan-barometrik/page.mdx
  app/docs/matematika/distribusi-binomial/page.mdx
  app/docs/matematika/faktor-prima/page.mdx
  app/docs/matematika/faktorial/page.mdx
  app/docs/matematika/fpb/page.mdx
  app/docs/matematika/integral/page.mdx
  app/docs/matematika/peluang-kejadian/page.mdx
  app/docs/matematika/sigmoid/page.mdx
  app/docs/matematika/turunan/page.mdx
Due: mdx label

fix: codeblock overflow & loading position
  components/Codeblock.tsx
Due: tsx label

fix: codeblock overflow & loading position (#52)
  components/Codeblock.tsx
Due: tsx label

add: CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix: refactor Contribute component & fix minor code styling
  app/globals.css
  components/Contribute.tsx
  constants/contributing.ts
Due: tsx label

fix: refactor Contribute component & fix minor code styling (#55)
  app/globals.css
  components/Contribute.tsx
  constants/contributing.ts
Due: tsx label

chore: add additional_dependencies to pre-commit
  .pre-commit-config.yaml
Due: none

chore: add additional_dependencies to pre-commit (#56)
  .pre-commit-config.yaml
Due: none

docs: add pre-commit step
  CONTRIBUTING.md
Due: none

fix: typo clone
  CONTRIBUTING.md
Due: none

add: CONTRIBUTING.md (#54)
  CONTRIBUTING.md
Due: none

fix: prettier ignore *.md
  .prettierignore
  CONTRIBUTING.md
  README.md
Due: none

fix: prettier ignore *.md (#57)
  .prettierignore
  CONTRIBUTING.md
  README.md
Due: none

docs: fixing `bilangan` to `bilangan_istimewa`
  app/docs/bilangan/bilangan-armstrong/page.mdx
  app/docs/bilangan/bilangan-pronic/page.mdx
  app/docs/bilangan/bilangan-segitiga/page.mdx
Due: mdx label

docs: add more about OpenSeries & change banner url
  app/docs/page.mdx
  public/assets/img/banner.png
Due: mdx label

docs: add more about OpenSeries & change banner url (#58)
  app/docs/page.mdx
  public/assets/img/banner.png
Due: mdx label

feat: stacked navbar
  components/Navbar.tsx
Due: tsx label

fix: navbar dropdown background color
  components/Navbar.tsx
Due: tsx label

feat: control sidebar visibility with global state
  components/Navbar.tsx
  components/Sidebar.tsx
  hooks/useSidebarStore.ts
Due: tsx label

feat: breadcrumbs for stacked navbar
  components/Breadcrumbs.tsx
  components/Navbar.tsx
Due: tsx label

feat: close button for sidebar
  components/Sidebar.tsx
Due: tsx label

chore: lint codebase
  components/Breadcrumbs.tsx
  components/Navbar.tsx
  components/Sidebar.tsx
  hooks/useSidebarStore.ts
Due: tsx label

feat: change navbar design to stacked on mobile screen & add breadcrumbs (#59)
  components/Breadcrumbs.tsx
  components/Navbar.tsx
  components/Sidebar.tsx
  hooks/useSidebarStore.ts
Due: tsx label

chore: add codeowners
  .github/CODEOWNERS
Due: none

chore: add codeowners (#60)
  .github/CODEOWNERS
Due: none

Path conditions:
  tsx label: any of: \.tsx$
  mdx label: any of: \.mdx$
