Repository bellshade/OpenSeriesWeb: changes, and which Mergify rules are due for each by the changed paths.
All: tsx label, mdx label

tsx label:
  label:
    add:
    - OpenSeries typescript

mdx label:
  label:
    add:
    - documentation mdx

chore: update body comment
  .github/workflows/pr-build.yaml
Due: none

chore: rename build workflow
  .github/workflows/build-openseries-web.yaml
Due: none

chore: update pr-build.yaml (#76)
  .github/workflows/build-openseries-web.yaml
  .github/workflows/pr-build.yaml
Due: none

tesssss
  app/docs/bilangan/bilangan-armstrong/page.mdx
Due: mdx label

chore: update build workflow
  .github/workflows/build-openseries-web.yaml
Due: none

chore: fix conditional binary operator expected
  .github/workflows/build-openseries-web.yaml
Due: none

docs: sengaja disalahin
  app/docs/bilangan/bilangan-armstrong/page.mdx
Due: mdx label

chore: fix bun not found
  .github/workflows/build-openseries-web.yaml
Due: none

fix: sengaja dibenerin
  app/docs/bilangan/bilangan-armstrong/page.mdx
Due: mdx label

chore: update build workflow (#78)
  .github/workflows/build-openseries-web.yaml
Due: none

chore: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: update CONTRIBUTING.md (#79)
  CONTRIBUTING.md
Due: none

chore: create issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribute-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: create issue template (#81)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribute-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: create pull request template & update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribute-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: none

chore: create pull request template & update issue template (#82)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/contribute-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: none

chore: remove unused file
  app.d.ts
  app/docs/fisika/masa-jenis/page.mdx
Due: mdx label

fix: minor changelog button in light mode
  components/navbar/navbar-content.tsx
Due: tsx label

fix: svg animation on system theme
  components/landing-svg/index.tsx
Due: tsx label

chore: change prettier config
  prettier.config.js
Due: none

chore: rename prettier config name
  postcss.config.mjs
Due: none

fix: svg animation on system theme (#84)
  components/landing-svg/index.tsx
  postcss.config.mjs
  prettier.config.js
Due: tsx label

chore: rename config file postcss & prettier
  postcss.config.js
  prettier.config.mjs
Due: none

fix: responsive code block
  components/codeblock/index.tsx
Due: tsx label

fix: responsive code block (#85)
  components/codeblock/index.tsx
Due: tsx label

fix: performance & accessibility
  app/(landing)/page.tsx
  app/layout.tsx
  bun.lockb
  components/landing-svg/index.tsx
  components/navbar/breadcrumbs.tsx
  components/navbar/navbar-content.tsx
  components/sidebar/index.tsx
  components/theme-switcher/index.tsx
  mdx-components.tsx
  package.json
Due: tsx label

fix: performance & accessibility (#87)
  app/(landing)/page.tsx
  app/layout.tsx
  bun.lockb
  components/landing-svg/index.tsx
  components/navbar/breadcrumbs.tsx
  components/navbar/navbar-content.tsx
  components/sidebar/index.tsx
  components/theme-switcher/index.tsx
  mdx-components.tsx
  package.json
Due: tsx label

chore: update buld workflow
  .github/workflows/build-openseries-web.yaml
  bun.lockb
  package.json
Due: none

chore: update core team
  .editorconfig
  .prettierrc
  constants/core-team.ts
Due: none

chore: update github configuration
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Path conditions:
  tsx label: any of: \.tsx$
  mdx label: any of: \.mdx$
