Repository bellshade/OpenSeriesWeb: changes, and which Mergify rules are due for each by the changed paths.
All: tsx label, mdx label

.mergify.yml:

pull_request_rules:
  # membuat requirement dari automerge dengan sistem
  # ketika workflow build passed maka akan dicentang
  # ketika target pull request ke main maka akan dicentang
  # ketika dikasih label 'ready-to-merge' akan dicentang
  - name: testing dengan label ready-to-merge
    conditions:
      - label=ready-to-merge
    actions:
      comment:
        # menambahkan komentar message jika sudah di merge
        message: terima kasih atas kontribusinya @{{author}} ðŸ¤©
      label:
        add:
          - sudah direview!
      # metode dari automerge
      merge:
        method: squash

  # membuat label dengan kondisi jika di dalam pull request
  # terdapat file typescript
  - name: tsx label
    conditions:
      - or:
          - files~=\.tsx$

    actions:
      # menambahkan label `typescript files`
      label:
        add:
          - OpenSeries typescript

  # membuat label dengan kondisi jika di dalam pull request
  # terdapat file mdx
  - name: mdx label
    conditions:
      - or:
          - files~=\.mdx$

    actions:
      label:
        add:
          - documentation mdx

fix: landing svg in light mode
  app/(landing)/page.tsx
  components/LandingSvg.tsx
Due: tsx label

fix: change landing image using svg (#19)
  .mergify.yml
  .pre-commit-config.yaml
  app/(landing)/page.tsx
  app/globals.css
  assets/landing.png
  bun.lockb
  components/LandingSvg.tsx
  package.json
  public/next.svg
  public/vercel.svg
Due: tsx label

fix: Mengganti beberapa fitur web
  .mergify.yml
  .pre-commit-config.yaml
  app/docs/fisika/energi-kinetik/page.mdx
  app/docs/fisika/hukum-ohm/page.mdx
  app/docs/fisika/kecepatan/page.mdx
  constants/documentations.ts
  package.json
Due: mdx label

fix: Mengganti beberapa fitur web (#20)
  app/docs/fisika/energi-kinetik/page.mdx
  app/docs/fisika/hukum-ohm/page.mdx
  app/docs/fisika/kecepatan/page.mdx
  constants/documentations.ts
Due: mdx label

Docs:matematika
  app/docs/matematika/diameter-lingkaran/page.mdx
  app/docs/matematika/faktorial/page.mdx
  app/docs/matematika/keliling-lingkaran/page.mdx
  app/docs/matematika/luas-lingkaran/page.mdx
  app/docs/matematika/persamaan-kuadrat/page.mdx
  app/docs/matematika/radian-ke-derajat/page.mdx
  constants/documentations.ts
Due: mdx label

Docs:matematika
  app/docs/matematika/diameter-lingkaran/page.mdx
  app/docs/matematika/faktorial/page.mdx
  app/docs/matematika/keliling-lingkaran/page.mdx
  app/docs/matematika/luas-lingkaran/page.mdx
  app/docs/matematika/persamaan-kuadrat/page.mdx
  app/docs/matematika/radian-ke-derajat/page.mdx
Due: mdx label

docs: Mengubah beberapa Dokumentasi Matematika (#21)
  app/docs/matematika/diameter-lingkaran/page.mdx
  app/docs/matematika/faktorial/page.mdx
  app/docs/matematika/keliling-lingkaran/page.mdx
  app/docs/matematika/luas-lingkaran/page.mdx
  app/docs/matematika/persamaan-kuadrat/page.mdx
  app/docs/matematika/radian-ke-derajat/page.mdx
  constants/documentations.ts
Due: mdx label

chore: create pr build workflow
  .github/workflows/pr-build.yaml
Due: none

chore: create pr build workflow (#25)
  .github/workflows/pr-build.yaml
Due: none

docs: kecepatan
  app/docs/fisika/kecepatan/page.mdx
Due: mdx label

chore: update secret name for pr build workflow
  .github/workflows/pr-build.yaml
Due: none

chore: remove type opened for pr build workflow
  .github/workflows/pr-build.yaml
Due: none

chore: update secret name for pr build workflow (#27)
  .github/workflows/pr-build.yaml
Due: none

tes
  app/docs/fisika/kecepatan/page.mdx
Due: mdx label

feat: community page
  app/docs/community/page.mdx
  components/Community.tsx
Due: tsx label, mdx label

fix: discord widget in community
  components/Community.tsx
  components/Contribute.tsx
  components/Sidebar.tsx
  constants/featuredLinks.ts
  constants/navLinks.ts
Due: tsx label

feat: community page (#30)
  app/docs/community/page.mdx
  components/Community.tsx
  components/Contribute.tsx
  components/Sidebar.tsx
  constants/featuredLinks.ts
  constants/navLinks.ts
Due: tsx label, mdx label

fix: change dark colour to slate
  app/(landing)/page.tsx
  app/docs/layout.tsx
  app/globals.css
  app/layout.tsx
  components/Codeblock.tsx
  components/Community.tsx
  components/Contribute.tsx
  components/Contributor.tsx
  components/Navbar.tsx
  components/Sidebar.tsx
  components/ThemeSwitcher.tsx
Due: tsx label

fix: change dark colour to slate (#31)
  app/(landing)/page.tsx
  app/docs/layout.tsx
  app/globals.css
  app/layout.tsx
  components/Codeblock.tsx
  components/Community.tsx
  components/Contribute.tsx
  components/Contributor.tsx
  components/Navbar.tsx
  components/Sidebar.tsx
  components/ThemeSwitcher.tsx
Due: tsx label

fix: revert theme
  app/(landing)/page.tsx
  app/docs/layout.tsx
  app/globals.css
  app/layout.tsx
  components/Codeblock.tsx
  components/Community.tsx
  components/Contribute.tsx
  components/Contributor.tsx
  components/Navbar.tsx
  components/Sidebar.tsx
  components/ThemeSwitcher.tsx
Due: tsx label

fix: output codeblock
  components/Codeblock.tsx
Due: tsx label

fix: navbar links href
  constants/navLinks.ts
Due: none

fix: navbar links href (#32)
  constants/navLinks.ts
Due: none

fix: hide sidebar after clicking featured links
  components/Sidebar.tsx
Due: tsx label

fix: hide sidebar after clicking featured links (#33)
  components/Sidebar.tsx
Due: tsx label

feat: open in playground
  app/docs/fisika/energi-kinetik/page.mdx
  app/docs/fisika/energi-potensial/page.mdx
  app/docs/fisika/hukum-ohm/page.mdx
  app/docs/fisika/kecepatan/page.mdx
  app/docs/fisika/masa-jenis/page.mdx
  app/docs/matematika/diameter-lingkaran/page.mdx
  app/docs/matematika/faktorial/page.mdx
  app/docs/matematika/keliling-lingkaran/page.mdx
  app/docs/matematika/luas-lingkaran/page.mdx
  app/docs/matematika/persamaan-kuadrat/page.mdx
  app/docs/matematika/radian-ke-derajat/page.mdx
  app/docs/statistika/entropy/page.mdx
  app/docs/statistika/standar-deviasi/page.mdx
  components/Codeblock.tsx
  constants/featuredLinks.ts
  constants/navLinks.ts
Due: tsx label, mdx label

fix: playground -> playseries
  constants/navLinks.ts
Due: none

feat: open in playground (#34)
  app/docs/fisika/energi-kinetik/page.mdx
  app/docs/fisika/energi-potensial/page.mdx
  app/docs/fisika/hukum-ohm/page.mdx
  app/docs/fisika/kecepatan/page.mdx
  app/docs/fisika/masa-jenis/page.mdx
  app/docs/matematika/diameter-lingkaran/page.mdx
  app/docs/matematika/faktorial/page.mdx
  app/docs/matematika/keliling-lingkaran/page.mdx
  app/docs/matematika/luas-lingkaran/page.mdx
  app/docs/matematika/persamaan-kuadrat/page.mdx
  app/docs/matematika/radian-ke-derajat/page.mdx
  app/docs/statistika/entropy/page.mdx
  app/docs/statistika/standar-deviasi/page.mdx
  components/Codeblock.tsx
  constants/featuredLinks.ts
  constants/navLinks.ts
Due: tsx label, mdx label

fix: open in playseries keliling lingkaran
  app/docs/matematika/keliling-lingkaran/page.mdx
Due: mdx label

fix: sidebar always open in responsive mode
  components/Contribute.tsx
  components/Navbar.tsx
  components/Sidebar.tsx
Due: tsx label

fix: sidebar always open in responsive mode (#37)
  components/Contribute.tsx
  components/Navbar.tsx
  components/Sidebar.tsx
Due: tsx label

fix: sidebar background
  app/layout.tsx
  components/Sidebar.tsx
Due: tsx label

fix: sidebar background (#39)
  app/layout.tsx
  components/Sidebar.tsx
Due: tsx label

docs: menambahkan dokumentasi matematika
  app/docs/matematika/fpb/page.mdx
  app/docs/matematika/sigmoid/page.mdx
  constants/documentations.ts
Due: mdx label

docs: menambahkan dokumentasi matematika (#40)
  app/docs/matematika/fpb/page.mdx
  app/docs/matematika/sigmoid/page.mdx
  constants/documentations.ts
Due: mdx label

fix: minor navbar on darkmode
  app/docs/page.mdx
  components/Navbar.tsx
Due: tsx label, mdx label

fix: Memperbaharui beberapa fitur-fitur Web
  app/docs/fisika/efek-doppler/page.mdx
  app/docs/fisika/gaya-sentripetal/page.mdx
  app/docs/fisika/massa-jenis/page.mdx
  app/docs/fisika/percepatan/page.mdx
  app/docs/fisika/tekanan-barometrik/page.mdx
  constants/documentations.ts
Due: mdx label

feat: menambahkan dokumentasi integral
  README.md
  app/docs/matematika/integral/page.mdx
  app/docs/matematika/turunan/page.mdx
  constants/documentations.ts
Due: mdx label

Docs: Matematika
  app/docs/matematika/faktor-prima/page.mdx
  app/docs/matematika/faktorial/page.mdx
  constants/documentations.ts
Due: mdx label

Docs: Matematika
  app/docs/matematika/peluang-kejadian/page.mdx
  constants/documentations.ts
Due: mdx label
