Repository bellshade/OpenSeriesWeb: changes, and which Mergify rules are due for each by the changed paths.
All: tsx label, mdx label

.mergify.yml:

pull_request_rules:
  # membuat requirement dari automerge dengan sistem
  # ketika workflow build passed maka akan dicentang
  # ketika target pull request ke main maka akan dicentang
  # ketika dikasih label 'ready-to-merge' akan dicentang
  - name: testing dengan label ready-to-merge
    conditions:
      - label=ready-to-merge
    actions:
      comment:
        # menambahkan komentar message jika sudah di merge
        message: terima kasih atas kontribusinya @{{author}} ðŸ¤©
      label:
        add:
          - sudah direview!
      # metode dari automerge
      merge:
        method: squash

  # membuat label dengan kondisi jika di dalam pull request
  # terdapat file typescript
  - name: tsx label
    conditions:
      - or:
          - files~=\.tsx$

    actions:
      # menambahkan label `typescript files`
      label:
        add:
          - OpenSeries typescript

  # membuat label dengan kondisi jika di dalam pull request
  # terdapat file mdx
  - name: mdx label
    conditions:
      - or:
          - files~=\.mdx$

    actions:
      label:
        add:
          - documentation mdx

feat: add navbar sidebar overlay & remove unnecessary nav links
  components/Navbar.tsx
  components/Sidebar.tsx
  constants/featuredLinks.ts
  constants/navLinks.ts
Due: tsx label

feat: add navbar sidebar overlay & remove unnecessary nav links (#61)
  components/Navbar.tsx
  components/Sidebar.tsx
  constants/featuredLinks.ts
  constants/navLinks.ts
Due: tsx label

chore: add sort import prettier
  .pre-commit-config.yaml
  .prettierrc
  app/(landing)/layout.tsx
  app/(landing)/page.tsx
  app/docs/layout.tsx
  app/layout.tsx
  bun.lockb
  components/codeblock/index.tsx
  components/contribute/index.tsx
  components/contributors/index.tsx
  components/navbar/index.tsx
  components/sidebar/index.tsx
  components/theme-provider/index.tsx
  next.config.mjs
  package.json
  tailwind.config.ts
Due: tsx label

chore: add sort import prettier (#63)
  .pre-commit-config.yaml
  .prettierrc
  app/(landing)/layout.tsx
  app/(landing)/page.tsx
  app/docs/layout.tsx
  app/layout.tsx
  bun.lockb
  components/codeblock/index.tsx
  components/contribute/index.tsx
  components/contributors/index.tsx
  components/navbar/index.tsx
  components/sidebar/index.tsx
  components/theme-provider/index.tsx
  next.config.mjs
  package.json
  tailwind.config.ts
Due: tsx label

chore: add eslint reccomended config
  .eslintrc.json
  app/docs/layout.tsx
  app/layout.tsx
  components/community/index.tsx
  components/contribute/index.tsx
  components/contributors/index.tsx
  components/landing-svg/index.tsx
  components/navbar/breadcrumbs.tsx
  components/navbar/index.tsx
  components/sidebar/index.tsx
  components/theme-provider/index.tsx
Due: tsx label

chore: add rules to eslint
  .eslintrc.json
  bun.lockb
  components/sidebar/index.tsx
  constants/documentations.ts
  package.json
  stores/use-sidebar-store.ts
Due: tsx label

chore: update eslint config (#64)
  .eslintrc.json
  app/docs/layout.tsx
  app/layout.tsx
  bun.lockb
  components/community/index.tsx
  components/contribute/index.tsx
  components/contributors/index.tsx
  components/landing-svg/index.tsx
  components/navbar/breadcrumbs.tsx
  components/navbar/index.tsx
  components/sidebar/index.tsx
  components/theme-provider/index.tsx
  constants/documentations.ts
  package.json
  stores/use-sidebar-store.ts
Due: tsx label

feat: automate sidebar links
  .prettierrc
  app/docs/layout.tsx
  bun.lockb
  components/docs-wrapper/index.tsx
  components/sidebar/index.tsx
  constants/documentations.ts
  constants/sidebar-links.ts
  package.json
  utils/get-docs.ts
Due: tsx label

feat: automate sidebar links (#65)
  .prettierrc
  app/docs/layout.tsx
  bun.lockb
  components/docs-wrapper/index.tsx
  components/sidebar/index.tsx
  constants/documentations.ts
  constants/sidebar-links.ts
  package.json
  utils/get-docs.ts
Due: tsx label

fix: komunitas not found
  constants/nav-links.ts
Due: none

fix: komunitas not found (#66)
  constants/nav-links.ts
Due: none

feat: create changelog page
  app/docs/changelog/page.tsx
  bun.lockb
  components/contributors/contributor.tsx
  components/navbar/navbar-content.tsx
  constants/octokit.ts
  package.json
Due: tsx label

fix: bun.lockb version
  bun.lockb
Due: none

feat: create changelog page (#67)
  app/docs/changelog/page.tsx
  bun.lockb
  components/contributors/contributor.tsx
  components/navbar/navbar-content.tsx
  constants/octokit.ts
  package.json
Due: tsx label

fix: svg animation too heavy
  app/globals.css
  components/landing-svg/index.tsx
Due: tsx label

fix: minor sode style css
  app/globals.css
Due: none

fix: svg animation too heavy (#68)
  app/globals.css
  components/landing-svg/index.tsx
Due: tsx label

add: meta keywords, applicationName, creator, openGraph image
  app/layout.tsx
Due: tsx label

add: menambahkan file LICENSE dan banner OpenSeries
  .github/banner.png
  LICENSE
Due: none

fix: change meta title
  app/layout.tsx
Due: tsx label

add: meta keywords, applicationName, creator, openGraph image (#69)
  app/layout.tsx
Due: tsx label

docs: improvisasi kata dan layout pada README.md dan CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: none

fix: metadataBase url
  app/layout.tsx
Due: tsx label

fix: metadataBase url (#71)
  app/layout.tsx
Due: tsx label

docs: membenarkan pengarahan link yg salah & kata yg tidak konsisten
  CONTRIBUTING.md
Due: none

fix: refactor css (pengtailwind-an masal cuy)
  app/(landing)/page.tsx
  app/globals.css
  bun.lockb
  components/landing-svg/index.tsx
  package.json
  postcss.config.js
Due: tsx label

docs: improvisasi kata dan layout untuk README.md dan CONTRIBUTING.md (#70)
  .github/banner.png
  CONTRIBUTING.md
  LICENSE
  README.md
Due: none

fix: refactor css (pengtailwind-an masal cuy) (#72)
  app/(landing)/page.tsx
  app/globals.css
  bun.lockb
  components/landing-svg/index.tsx
  package.json
  postcss.config.js
Due: tsx label

chore: add postbuild for sitemap
  .gitignore
  bun.lockb
  next-sitemap.config.js
  package.json
Due: none

chore: add postbuild for sitemap (#73)
  .gitignore
  bun.lockb
  next-sitemap.config.js
  package.json
Due: none

chore: add markdownlint
  .markdownlint.jsonc
  .pre-commit-config.yaml
  .prettierignore
  CONTRIBUTING.md
  README.md
  bun.lockb
  package.json
Due: none

chore: fix pre-commit config
  .pre-commit-config.yaml
Due: none

chore: add markdownlint (#74)
  .markdownlint.jsonc
  .pre-commit-config.yaml
  .prettierignore
  CONTRIBUTING.md
  README.md
  bun.lockb
  package.json
Due: none

asd
  app/docs/bilangan/bilangan-armstrong/page.mdx
Due: mdx label

chore: update pr-build.yaml
  .github/workflows/pr-build.yaml
Due: none

chore: refactor pr-build.yaml
  .github/workflows/pr-build.yaml
Due: none

chore: fix eof pr-build.yaml
  .github/workflows/pr-build.yaml
Due: none

chore: fix unknown flag
  .github/workflows/pr-build.yaml
Due: none
